<mat-dialog-content>
  <div id="about-me">
    <h1><u>About Me</u></h1>
    <p>
      My name is Jesse Jones and I am a full-stack software engineer based in WI
      with over two years of working experience in the software development and
      financial technology (fintech) industry. I am currently open to new
      opportunities.
    </p>
    <h2><u>Work Experience</u></h2>
    <h3><u>Current Role</u></h3>
    <ul>
      <li>
        <a
          href="https://github.com/jesseoj98"
          title="Link to my GitHub page"
          target="_blank"
          rel="noopener noreferrer"
          >Self-learning</a
        >
        & open to new roles (December 2022 - present)
      </li>
    </ul>
    <h3><u>Former Roles</u></h3>
    <ul>
      <li>
        @
        <a
          href="https://www.fisglobal.com/en/"
          title="also known as Fidelity National Information Services, Inc. or FIS Global"
          target="_blank"
          rel="noopener noreferrer"
          >FIS</a
        >
        <ul>
          <li>Software Engineer I (June 2022 - December 2022)</li>
          <li>
            Technologist Engineer I (Associate Development / FIS University
            Program) (June 2020 - June 2022)
          </li>
        </ul>
      </li>
    </ul>
    <h2><u>Skills</u></h2>
    <div class="flex-container">
      <div>
        <h3><u>Languages</u></h3>
        <ul>
          <li>Java</li>
          <li>HTML</li>
          <li>CSS / SCSS</li>
          <li>JavaScript / TypeScript</li>
          <li>SQL</li>
        </ul>
      </div>
      <div>
        <h3><u>Frameworks</u></h3>
        <ul>
          <li>Angular</li>
          <li>Spring Boot</li>
          <li>Spring Batch</li>
          <li>MySQL</li>
        </ul>
      </div>
      <div>
        <h3><u>Tools</u></h3>
        <ul>
          <li>Git</li>
          <li>Jenkins</li>
          <li>SonarQube</li>
          <li>Agile / Scrum</li>
        </ul>
      </div>
      <div>
        <h3><u>Technologies</u></h3>
        <ul>
          <li>JUnit</li>
          <li>ELK Stack</li>
          <li>RESTful APIs</li>
        </ul>
      </div>
      <div>
        <h3><u>Software</u></h3>
        <ul>
          <li>Eclipse</li>
          <li>Postman</li>
          <li>Visual Studio</li>
          <li>Visual Studio Code</li>
        </ul>
      </div>
      <div>
        <h3><u>Platforms</u></h3>
        <ul>
          <li>Windows</li>
          <li>Unix</li>
        </ul>
      </div>
    </div>
    <h2><u>Education</u></h2>
    <p>
      <a
        href="https://www.uww.edu/"
        title="Link to the UW-Whitewater website"
        target="_blank"
        rel="noopener noreferrer"
        >University of Wisconsin-Whitewater</a
      ><i> September 2016 - May 2020</i><br />Bachelor of Science in
      <a
        href="https://www.uww.edu/cls/departments/computer-science"
        title="Link to the UW-Whitewater Computer Science department website"
        target="_blank"
        rel="noopener noreferrer"
        >Computer Science</a
      >,
      <a
        href="http://uww-public.courseleaf.com/undergraduate/letters-sciences/computer_science/computer-science_comprehensive/"
        title="Link to the requirements of a Comprehensive Emphasis degree which required no minor to graduate"
        target="_blank"
        rel="noopener noreferrer"
      >
        Comprehensive Emphasis</a
      >
    </p>
    <h2><u>Hobbies</u></h2>
    <p>
      Outside of work, I enjoy playing video games, spending time with family,
      and collecting physical media such as Blu-Rays & vinyls. Ask me anything
      about the Breaking Bad universe or video games on the GameCube. I listen
      to a lot of
      <a
        href="https://youtube.com/playlist?list=PLqMJQzNrBHt3akLfjNCv1VcyM4U8qc8f2"
        title="My YouTube music playlist"
        target="_blank"
        rel="noopener noreferrer"
        >EDM, electronic, & house music</a
      >. In the middle 2022, I decided to improve my health by walking for
      10,000 steps (~5 mi) minimum every day since July 1st and I've lost over
      20 lbs. so far!
    </p>
    <h2><u>Favorites</u></h2>
    <div class="flex-container">
      <div>
        <h3><u>TV Shows</u></h3>
        <ul>
          <li>Breaking Bad</li>
          <li>Better Call Saul</li>
          <li>The Walking Dead</li>
          <li>True Detective</li>
        </ul>
      </div>
      <div>
        <h3><u>Movies & Cartoons</u></h3>
        <ul>
          <li>Indiana <a title="Hmm... I wonder why?">Jones</a></li>
          <li>Jurassic Park</li>
          <li>Ed, Edd n' Eddy</li>
          <li>Courage the Cowardly Dog</li>
        </ul>
      </div>
      <div>
        <h3><u>Video Games</u></h3>
        <ul>
          <li>Pikmin 2 / Zelda: The Wind Waker / Paper Mario: TTYD</li>
          <li>Dark Souls / Old School Runescape / Elden Ring</li>
          <li>Terraria / Don't Starve Together</li>
          <li>Braid / The Witness</li>
        </ul>
      </div>
      <div>
        <h3><u>Music Artists</u></h3>
        <ul>
          <li>
            <a
              href="https://youtu.be/gt1pKrwxAJU"
              target="_blank"
              rel="noopener noreferrer"
              >Eric Prydz</a
            >
            /
            <a
              href="https://youtu.be/21tTE3qqU8k"
              target="_blank"
              rel="noopener noreferrer"
              >Pryda</a
            >
          </li>
          <li>
            <a
              href="https://youtu.be/omQl3GCQaBk"
              target="_blank"
              rel="noopener noreferrer"
              >Infected Mushroom</a
            >
          </li>
          <li>
            <a
              href="https://youtu.be/fY7M3pzXdUo"
              target="_blank"
              rel="noopener noreferrer"
              >BICEP</a
            >
          </li>
          <li>
            <a
              href="https://youtu.be/lC-0j-5GdjU"
              target="_blank"
              rel="noopener noreferrer"
              >Pendulum</a
            >
            /
            <a
              href="https://youtu.be/9S0okQsJlDs"
              target="_blank"
              rel="noopener noreferrer"
              >Knife Party</a
            >
          </li>
          <li>
            <a
              href="https://youtu.be/BdW5McynGh8"
              target="_blank"
              rel="noopener noreferrer"
              >deadmau5</a
            >
          </li>
          <li>
            <a
              href="https://youtu.be/Esvw3fxlXXE"
              target="_blank"
              rel="noopener noreferrer"
              >The Glitch Mob</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</mat-dialog-content>
