h1,
h2,
h3 {
  color: black;
  text-decoration: underline;
}

.flex-container {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}
