<div mat-dialog-content id="coding-projects">
  <h1>
    Coding Projects<button mat-dialog-close class="close-button">X</button>
  </h1>
  <h2>Professional</h2>
  <ul>
    <li>
      Apart of the development team on a robust and large enterprise-level
      Angular & Spring Boot payments application
    </li>
    <li>
      Worked on a Spring Batch processing application which was able to
      retrieve, cross-check, and process data amongst several data sources to
      send off to internal teams
    </li>
    <li>
      Developed the Spring Boot back-end for an application that interfaces with
      a system of internal debit APIs
    </li>
  </ul>
  <h2>Personal</h2>
  <p>
    For a general overview of my personal coding projects, please check out my
    <a
      href="https://github.com/jesseoj98"
      target="_blank"
      rel="noopener noreferrer"
      >GitHub profile</a
    >
    which I try to update daily!
  </p>
  <p>
    Otherwise, I've highlighted some work here that I'm particularly proud of:
  </p>
  <ul>
    <li>
      <a
        href="https://github.com/jesseoj98/website"
        target="_blank"
        rel="noopener noreferrer"
        >This Website!</a
      >
    </li>
    <ul>
      <li>
        The website was built using the Angular framework and written in HTML,
        CSS, and TypeScript and is deployed using GitHub Actions
      </li>
    </ul>
    <li>
      <a
        href="https://github.com/jesseoj98/tic-tac-toe"
        target="_blank"
        rel="noopener noreferrer"
        >Tic-Tac-Toe</a
      >,
      <a
        href="https://github.com/jesseoj98/connect-four"
        target="_blank"
        rel="noopener noreferrer"
        >Connect Four</a
      >
    </li>
    <ul>
      <li>Grid-based Java programs that simulates the respective games</li>
      <li>
        Players are allowed let the cpu go first and can play an infinite amount
        of times
      </li>
    </ul>
    <li>
      <a
        href="https://github.com/jesseoj98/reddit-to-old-reddit"
        target="_blank"
        rel="noopener noreferrer"
        >Reddit To Old Reddit</a
      >
    </li>
    <ul>
      <li>
        A JavaScript FireFox extension that dynamically transforms Reddit URLs
        entered into the browser and automatically redirects them to Old Reddit
        URLs
      </li>
      <li>Some people (like myself) prefer the old Reddit to the new Reddit</li>
    </ul>
    <li>
      <a
        href="https://github.com/jesseoj98/twitter-to-nitter"
        target="_blank"
        rel="noopener noreferrer"
        >Twitter To Nitter</a
      >
    </li>
    <ul>
      <li>
        A JavaScript FireFox extension that dynamically transforms Twitter URLs
        entered into the browser and automatically redirects them to Nitter URLs
      </li>
      <li>
        Nitter is a privacy-focused front-end "skin" for Twitter that has
        several features... my favorite being that it bypasses the need to
        create an account to view profiles
      </li>
      <li>
        More information about the Nitter project
        <a
          href="https://github.com/zedeus/nitter"
          target="_blank"
          rel="noopener noreferrer"
          >here</a
        >
        or visit the Nitter website
        <a href="https://nitter.net" target="_blank" rel="noopener noreferrer"
          >here</a
        >
      </li>
    </ul>
  </ul>
  <h2>Etcetera</h2>
  <ul>
    <li>
      <a
        href="https://www.hackerrank.com/jesseoj98"
        target="_blank"
        rel="noopener noreferrer"
        >HackerRank Profile</a
      >
    </li>
  </ul>
  <h2>Achievements & Awards</h2>
  <h3>University of Wisconsin-Whitewater</h3>
  <ul>
    <li>
      I was on the
      <a
        href="https://meritpages.com/jonesjo17#true"
        target="_blank"
        rel="noopener noreferrer"
        >Dean's List</a
      >
      for eight consecutive semesters
    </li>
    <li>
      Graduated with
      <a
        href="https://uww.meritpages.com/stories/Jesse-Jones-graduates-from-UW-Whitewater-/34144479"
        target="_blank"
        rel="noopener noreferrer"
        >Magna Cum Laude</a
      >
      graduation honors from a 3.779 cumulative GPA
    </li>
  </ul>
  <h2>Future Plans</h2>
  <p>
    I'm always eager to learn new things in order to challenge myself<br /><br />In
    addition, I have some ideas of potential future personal projects that I'd
    like to get to some day
  </p>
  <ul>
    <li>Mobile Audio Mixer</li>
    <ul>
      <li>
        Because of the genre of music I listen to, it's possible to have the
        tracks seamlessly blend together in what's called a mix
      </li>
      <li>
        Doesn't necessarily have to be OS-specific, but the goal was to create
        it for Android using either Java/Kotlin or C#/.NET
      </li>
    </ul>
    <li>YouTube Topic Video Finder</li>
    <ul>
      <li>
        A program that would perform a GET HTTP request on a large list of
        YouTube videos in order to find topic videos for a music track
      </li>
      <li>
        A topic video on YouTube is an auto-generated video that typically
        contains the "highest-quality" version of that music track's audio
      </li>
    </ul>
    <li>Database Project</li>
    <ul>
      <li>
        A database project that is conducive to something I like, perhaps
        related to video games and/or television shows
      </li>
    </ul>
    <li>Reversi (Othello), Checkers, Chess, Sudoku</li>
    <ul>
      <li>
        For Sudoku, I have a good portion of the game coded, I just need to
        figure out the algorithm to initially generate a solvable game
      </li>
    </ul>
  </ul>
</div>
