<div mat-dialog-content id="contact-info">
  <h1>Contact Info</h1>
  <ul>
    <li>
      <a
        href="mailto:jesseoj98@gmail.com"
        title="Link to email me"
        target="_blank"
        rel="noopener noreferrer"
        >Email me</a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/jesseoj98/"
        title="Link to my LinkedIn profile"
        target="_blank"
        rel="noopener noreferrer"
        >LinkedIn</a
      >
    </li>
    <li>
      <a
        href="https://github.com/jesseoj98"
        title="Link to my GitHub page"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub</a
      >
    </li>
  </ul>
</div>
