<div mat-dialog-content id="contact-info">
  <h1>
    Contact Info<button mat-button mat-dialog-close class="close-button">
      X
    </button>
  </h1>
  <div class="flex-container">
    <div>
      <a
        href="mailto:jesseoj98@gmail.com"
        title="Link to email me"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          src="assets/email.png"
          title="Email icons created by Uniconlabs - Flaticon https://www.flaticon.com/free-icons/email"
          width="96"
          height="96"
      /></a>
    </div>
    <div>
      <a
        href="https://www.linkedin.com/in/jesseoj98/"
        title="Link to my LinkedIn profile"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          src="assets/inblue1282x.png"
          alt="Link to my LinkedIn profile"
          width="96"
          height="96"
      /></a>
    </div>
    <div>
      <a
        href="https://github.com/jesseoj98"
        title="Link to my GitHub page"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="assets/githubmark.png"
          alt="Link to my GitHub page"
          width="96"
          height="96"
      /></a>
    </div>
  </div>
</div>
