#home-page {
  height: 100%;
}

.accent-color {
  background-color: #e0e0e0;
}

.header-font {
  font-size: larger;
  font-weight: 600;
}

.card-dimension {
  height: 12rem;
  width: 12rem;
}

.image {
  align-items: center;
  display: flex;
  height: 8.75rem;
  justify-content: center;
  overflow: hidden;
}

.card-title-font {
  font-size: large;
  font-weight: 550;
  text-decoration: underline;
  text-align: center;
}

.card-subtitle-font {
  text-align: center;
}

.flex-container {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  height: 48rem;
  gap: 32px;
  width: calc(100% - 20px);
}
