/* You can add global styles to this file, and also import other style files */

html,
body {
  background-color: #212121;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  color: black;
  line-height: 1.6;
  text-decoration: underline;
}

ul,
li,
p,
a {
  line-height: 1.6;
}

a {
  outline: none;
}
